.PopularItems {
    color: black;
}

.Title {
    margin-top: 15px;
}

.ProductGrid {
    gap: 10px;
    display: grid;
    margin-top: 11px;
    margin-bottom: 11px;
    grid-template-columns: repeat(2, 1fr);
}

.ProductImage {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    background: black;
    border-radius: 15px;
}